<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/form.css" />
  </head>

  <body>
    <header>
      <div id="logo">
        <a href="/login/">
          <img
            src="https://media.gcflearnfree.org/global/gcfglobal-color.png"
            alt="Logo de la empresa"
          />
        </a>
      </div>
      <div id="nav">
        <nav>
          <ul>
            <li><a href="#inicio">PT-EN</a></li>
            <li><a href="#productos">PT-ES</a></li>
            <li><a href="#contacto">ES-EN</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div>
      <section id="hero">
        <h1>Similarity Lessons Survey</h1>
        <p>
            You will be asked some similarity questions of the following Lessons
        </p>
      </section>
    </div>

    <div>
      <section id="Courses" style="display: flex; justify-content: space-between">
        <div style="width: 45%">
          <h2>Curso de Procesamiento del Lenguaje Natural</h2>
          <p>
            Este curso cubre los conceptos básicos y avanzados de NLP,
            incluyendo tokenización, stemming, lematización, análisis de
            sentimientos y mucho más. Aprenderás a construir aplicaciones
            prácticas de NLP utilizando herramientas como NLTK, spaCy y
            TensorFlow. Al final del curso, tendrás una comprensión sólida de
            cómo aplicar técnicas de NLP en diversos casos de uso.
          </p>
        </div>
        <div style="width: 45%">
          <h2>Curso de Aprendizaje Automático en NLP</h2>
          <p>
            Este curso se centra en el uso del aprendizaje automático en NLP.
            Aprenderás sobre los diferentes algoritmos de aprendizaje
            automático, cómo se aplican en NLP y cómo se pueden utilizar para
            resolver problemas reales. También se abordarán temas como la
            representación de datos en NLP, la validación cruzada y la
            optimización de hiperparámetros. Al final del curso, estarás
            equipado con las habilidades necesarias para implementar soluciones
            de aprendizaje automático en NLP.
          </p>
        </div>
      </section>
    </div>

    <div id="survey">
      <form class="survey">
        <p>1. How similar were the texts?</p>
        <input type="radio" name="question1" value="1" /> 1
        <input type="radio" name="question1" value="2" /> 2
        <input type="radio" name="question1" value="3" /> 3
        <input type="radio" name="question1" value="4" /> 4
        <input type="radio" name="question1" value="5" /> 5

        <p>2. How similar were the texts?</p>
        <input type="radio" name="question2" value="1" /> 1
        <input type="radio" name="question2" value="2" /> 2
        <input type="radio" name="question2" value="3" /> 3
        <input type="radio" name="question2" value="4" /> 4
        <input type="radio" name="question2" value="5" /> 5

        <p>3. How similar were the texts?</p>
        <input type="radio" name="question3" value="1" /> 1
        <input type="radio" name="question3" value="2" /> 2
        <input type="radio" name="question3" value="3" /> 3
        <input type="radio" name="question3" value="4" /> 4
        <input type="radio" name="question3" value="5" /> 5

        <p>4. How similar were the texts?</p>
        <input type="radio" name="question4" value="1" /> 1
        <input type="radio" name="question4" value="2" /> 2
        <input type="radio" name="question4" value="3" /> 3
        <input type="radio" name="question4" value="4" /> 4
        <input type="radio" name="question4" value="5" /> 5

        <p>5. How similar were the texts?</p>
        <input type="radio" name="question5" value="1" /> 1
        <input type="radio" name="question5" value="2" /> 2
        <input type="radio" name="question5" value="3" /> 3
        <input type="radio" name="question5" value="4" /> 4
        <input type="radio" name="question5" value="5" /> 5

        <p>
          <input type="submit" value="Enviar encuesta" />
        </p>
      </form>
    </div>

    <footer>
      <div style="display: flex; justify-content: space-between">
        <div style="width: 30%">
          <h3>Done By:</h3>
          <p>
            Juan Camilo Sanguino
          </p>
        </div>
        <div style="width: 30%">
          
        </div>
        <div style="width: 30%" style="position: absolute;
                                        top: 50%;
                                        left: 100%;
                                        transform: translate(-50%, -50%);">
          <h3>Sponsored by:</h3>
          <p>
            Universidad De Los Andes
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>