<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Encuesta</title>
    <link <link rel="stylesheet" href="../static/login.css">
  </head>
  <body>
    <!-- Barra de navegación con imagen en la izquierda -->
    <div class="navbar">
      <img src="https://media.gcflearnfree.org/global/gcfglobal-color.png" alt="Logo" href ="hello">
      <h1 class="title" >Login</h1>
    </div>
    
    <!-- Formulario de inicio de sesión -->
    <div class="login-form">
      <form method = "GET" action = '/hello/'>
        <label for="name">Nombre de usuario:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Iniciar sesión</button>
      </form>
    </div>
  </body>
</html>